.desktop-menu,
.mobile-menu {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 80px;
    padding-right: 90px;
    padding-left: 90px;
    z-index: 10;
    margin-top: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Menu desktop */
.desktop-menu {
    display: flex;
    justify-content: space-between;
}

.desktop-menu .logo,
.mobile-menu .logo {
    height: 50px;
    margin: 10px;
}

.desktop-menu > nav > a {
    padding: 7px;
    margin-left: 6px;
    transition: background-color ease .3s;
    height: 100%;
    padding-top: 28px;
    font-weight: 400;
}

.desktop-menu > nav > a:hover {
    color:white;
    background-color: #673AB7;
    height: 100%;
    padding-top: 28px;
    transition: background-color ease .3s;
}



.desktop-menu-actions {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

/* Menu mobile */
.mobile-menu {
    display: none;
}

.mobile-menu > button {
    padding: 20px;
    color: #673AB7;
    border: none;
    background:white;
    
}

.mobile-menu > button:focus {
    outline: none;
}

.mobile-menu-actions {
    display: none;
}

.mobile-menu-actions > a {
    padding: 15px;
    background-color: white;
    transition: background-color ease .4s;
    border-bottom: 1px solid #bca3e7;
}

.mobile-menu-actions > a:hover {
    background-color: #673AB7;
    color: white;
    transition: background-color ease .3s;
}

@media (max-width: 800px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;;
    }

    .mobile-menu-actions.opened {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 10;
        margin-top:120px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    
}

/*BARRA SUPERIOR*/
.nav-sup-bar{
    width:100%;
    height: 40px;
    position: fixed;
    z-index: 10;
    background-color: #673AB7;
    padding: 5px 90px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.nav-sup-bar a {
    text-decoration: none;
    color:white;
    padding:0px 10px;
    font-size: 12px;
    font-weight: 300;
}

.nav-sup-bar a:hover {
    text-decoration: none;
    color:#4CAF50;
}

.btn-nav-sup-bar{
    color:white;
    background-color:#4CAF50;
    border-radius: 3px;
    border:none;
    font-weight: 400;
    padding:2px 10px;
}


.btn-nav-sup-bar:hover{
    color:#4CAF50;
    background-color:white;
    border-radius: 3px;
    border:none;
    font-weight: 400;
    padding:2px 10px;
}

@media (max-width: 400px){
    /* Barra superior menu */
    .nav-sup-bar{
        padding:10px 5px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    
    .nav-sup-bar a {
        padding: 0px 5px;
    }
}