* {
    font-family: 'Montserrat', sans-serif;
}

.desktop-menu > nav > a {
    color:#673AB7;
    text-decoration: none;
}

.mobile-menu-actions > a {
    color: #673AB7;
    font-size: 1.1rem;
    text-decoration: none;
}

/* cards inmuebles */
.item-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding:10px 0;
    color: rgb(35, 35, 37);
}

.item-price {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #4CAF50;
}